@import url("https://fonts.googleapis.com/css2?family=Sono:wght@800&display=swap");

body {
  height: 100vh;
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.heading {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10em 10em;
}
.heading button {
  background-color: transparent;
  width: 100%;
  width: 300px;
  color: white;
  padding: 1em 1em;
  border: solid white;
}
.heading button a {
  color: white;
  text-decoration: none;
}
.heading button:hover {
  scale: 1.3;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.heading h1 {
  color: #f26419;
  font-weight: bold;
  font-size: 100px;
  margin-bottom: 1em;
}
.heading h3 {
  color: #f6ae2d;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: -1em;
}
.heading h2 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  font-family: "Sono", sans-serif;
  text-shadow: 2px 2px black;
}
.section1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 10em 5em;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 10em 3em;
  }
}
@media screen and (max-width: 400px) {
  .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 10em 0em;
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  text-align: center;
}
.nav-bar ul {
  padding: 1em 1em;
}
.nav-bar ul li {
  margin: 1em 1em;
  display: inline-block;
}
.nav-bar ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 1em 1em;
}
.nav-bar ul li a:hover {
  background-color: rgba(136, 132, 132, 0.579);
  border-radius: 5em;
  transition: 1s;
}
@media screen and (max-width: 560px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }
  .nav-bar ul {
    padding: 0.5em 0.5em;
  }
  .nav-bar ul li {
    display: block;
  }
  .nav-bar ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 1em 1em;
  }
}

.About-Us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0em;
  align-items: center;
}
.About-Us h2 {
  text-align: center;
  color: #f26419;
  text-shadow: 1px 1px #f6ae2d;
  width: 500px;
  max-width: 100%;
  border-radius: 1em;
  font-size: 50px;
  font-family: "Sono", sans-serif;
  align-content: center;
}
.About-Us p {
  float: left;
  text-align: center;
  color: white;
  font-size: 25px;
  float: left;
}
.About-Us img {
  width: 100%;
  max-width: 600px;
  border-radius: 0.3em;
  height: auto;
  margin: 1em 1em;
  border: solid rgba(255, 255, 255, 0.727);
}
.find-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 0em;
  align-items: center;
}
.find-us h2 {
  width: 500px;
  max-width: 100%;
  border-radius: 1em;
  text-align: center;
  color: #f26419;
  text-shadow: 1px 1px #f6ae2d;
  font-size: 50px;
  font-family: "Sono", sans-serif;
  align-content: center;
}
.title {
  color: #f6ae2d;
}
#map { 
  height: 400px; 
  width: 700px;
  border: solid white;
  border-radius: 1em;
}
@media screen and (max-width: 710px) {
  #map {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  #map {
    width: 400px;
  }
}
@media screen and (max-width: 415px) {
  #map {
    width: 300px;
    height: 300px; 
  }
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f26419;
  width: 100%;
}
.menu ul{
}
.menu ul li{
  list-style-type: none;
}
.menu h2{
  color: white;
  font-family: "Sono", sans-serif;
  text-align: center;
}
.menu h3{
  color: white;
  font-family: "Sono", sans-serif;
  text-align: center;
}
